<ul class="nav">
  <li><a href="#box1">Box 1</a></li>
  <li><a href="#box2">Box 2</a></li>
  <li><a href="#box3">Box 3</a></li>
</ul>

<div id="viewport">
  <div id="scroll-container">

    <section class="section">
      <div id="box1" class="box box-a">a</div>
    </section>

    <section class="section">
      <div id="box2" class="box box-b">b</div>
    </section>

    <section class="section">
      <div id="box3" class="box box-c">c</div>
    </section>

    <section class="section">
      <div id="box4" class="box box-c">d</div>
    </section>

    <section class="section">
      <div id="box5" class="box box-c">e</div>
    </section>

    <div class="line"></div>

  </div>
</div>
