<div class="wrapper">
  <div class="factsContainer">

    <h2 style="height: 200vh">교차되는 슬라이드</h2>

    <!-- Scroll Trigger -->
    <div class="factsContainer_sm">

      <div class="fact">
        <h3>3 words to describe me: </h3>
        <img src="https://source.unsplash.com/random" alt="">
        <h3>Creative , Adventourous , Hardworking</h3>
      </div>
ㅗ
      <div class="fact">
        <h3>Favourite Food</h3>
        <img src="https://source.unsplash.com/random" alt="">
        <h3>Tonnes of this stuff ^</h3>
      </div>

      <div class="fact">
        <h3>Favourite TV Series</h3>
        <img src="https://source.unsplash.com/random" alt="">
        <h3>Nine Nine 🤙</h3>
      </div>

      <div class="fact">
        <h3>Where are you most likely to be found</h3>
        <img src="https://source.unsplash.com/random" alt="">
        <h3>With my head in the fridge</h3>
      </div>

      <div class="fact">
        <h3>Favourite Music Artist</h3>
        <img src="https://source.unsplash.com/random" alt="">
        <h3>Kygo</h3>
      </div>

      <div class="fact">
        <h3>Favourite Sport</h3>
        <img src="https://source.unsplash.com/random" alt="">
        <h3>Swimming</h3>
      </div>

    </div>

    <div class="factsContainer_sm2">

      <div class="fact">
        <h3>3 words to describe me: </h3>
        <img src="https://source.unsplash.com/random" alt="">
        <h3>Creative , Adventourous , Hardworking</h3>
      </div>

      <div class="fact">
        <h3>Favourite Food</h3>
        <img src="https://source.unsplash.com/random" alt="">
        <h3>Tonnes of this stuff ^</h3>
      </div>

      <div class="fact">
        <h3>Favourite TV Series</h3>
        <img src="https://source.unsplash.com/random" alt="">
        <h3>Nine Nine 🤙</h3>
      </div>

      <div class="fact">
        <h3>Where are you most likely to be found</h3>
        <img src="https://source.unsplash.com/random" alt="">
        <h3>With my head in the fridge</h3>
      </div>

      <div class="fact">
        <h3>Favourite Music Artist</h3>
        <img src="https://source.unsplash.com/random" alt="">
        <h3>Kygo</h3>
      </div>

      <div class="fact">
        <h3>Favourite Sport</h3>
        <img src="https://source.unsplash.com/random" alt="">
        <h3>Swimming</h3>
      </div>

    </div>
  </div>
  <div class="socialContainer">
    <h3>End</h3>
  </div>
</div>
