@import "./assets/styles/utils";

body {
  margin: 0;
  padding: 0;
}

:root {
  --bg-red {
    background-color: red;
    color: #ffffff;
  }

  --red-01: #ff0000;
  --green-01: #00ff00;
  --blue-01: #0000ff;
  --black-01: #000000;
  --white-01: #ffffff;
}

html {
  scroll-behavior: smooth;
}
