<div class="section-wrap" id="section-wrap">
  <div id="section-content">
    <section class="section bg-black" id="gsap-section-01">
      <button type="button" (click)="clickTest()"> 젤 밑으로 </button>
    </section>

    <section class="section bg-white" id="gsap-section-02"></section>

    <section class="section bg-red" id="gsap-section-03"></section>

    <section class="section bg-green" id="gsap-section-04"></section>

    <section class="section bg-blue" id="gsap-section-05"></section>
  </div>

</div>

